@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;

  /* color theme */
  --codeblock-color: rgb(255, 253, 245);
  --text-color: #56575c;
  --h1-color: #d24b4b;
  --h2-color: #e4a30c;
  --h3-color: #5eb34d;
  --h4-color: #18a8dc;
  --h5-color: #8078ba;
  --p-color: #222222;
  --link-color: #f0cb7a;
  --internal-color: #76b6ca;

  --primary-50: #f7f6f9;
  --primary-100: #f0edf5;
  --primary-200: #ede7f0;
  --primary-300: #e2deed;
  --primary-400: #d5d0e4;
  --primary-500: #c9c1df;
  --primary-900: #9480ba;
  --sub-100: #edeef5;
  --sub-200: #d2cddd;
  --sub-300: #c7c4d5;
  --sub-500: #aba5c1;

  /* size */
  --topbar-height: 60px;
}

* {
  @apply text-text;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}

h1 {
  @apply text-h1 font-[750] text-[25.6px];
}
h2 {
  @apply text-h2 font-[700] text-[24px];
}
h3 {
  @apply text-h3 font-[650] text-[22.4px];
}
h4 {
  @apply text-h4 font-[600] text-[20.8px];
}
h5 {
  @apply text-h5 font-[550] text-[19.2px];
}
p {
  @apply text-p font-[500] text-[16px];
}

/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401
*/
